<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712800249942-60vs9qhup7e17i9r6b15j6ikubd67dhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712800249942-60vs9qhup7e17i9r6b15j6ikubd67dhf</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Sl8kKkt2iOG0tLng-Y342sUsBnXxnPM</string>
	<key>GCM_SENDER_ID</key>
	<string>712800249942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StampsApp</string>
	<key>PROJECT_ID</key>
	<string>stamps-app-87b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>stamps-app-87b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712800249942:ios:60176a8034550164e933f7</string>
</dict>
</plist>